.Adds-List li {
font-size: 22px "Arial",san-serif;
color: #5dadee;
font-weight: bold;
}

.border-line{
  color: black;
}

h3 {
  font-size: 30px;
  color: #5dadee;
  font-weight: bold;
  text-align: center;

}
