body {
  background-image:none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 100px;
}

.Stamina-Banner-Image{
    position: absolute;
    top: 6%;
    left: 3%;
    border: none;
  }

.h3{
	padding-top: 20px;
}

ul li{
 font-size:14px;
 color: #42a7e8;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}

hr.border-line {
  border-top: 2px solid gray;
}

img{
  border: solid black 1px;
  border-radius: 10px;
}
