body {
  background-image:none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 100px;
}

.Overview-Banner-Image{
position: absolute;
top: 6%;
left: 3%;
border: none;
}

.sok-LogoImage{
position:absolute;
width: 200px;
height: 100px;
top: 60px;
Right: 20px;
}

.h3{
	padding-top: 20px;
}

.box{
    color: #fff;
    padding: 20px;
    display: none;
    margin-top: 20px;
}

.table td {
text-align: left;
}

.dropdownlist {
  padding-bottom: 20px;
  color: #fff;
    background-color:none;
    color: grey;
    padding: 2px;
    font-size: 20px;
    border: solid 0px black;
